In [1]:
import pandas as pd
import os

In [2]:
df=pd.read_csv(r'C:\Users\SAIKAT MUKHERJEE\OneDrive\Desktop\PythonAll\DataScience\data\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data\Sales_April_2019.csv')

In [3]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18324 non-null  object
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: object(6)
memory usage: 430.9+ KB

In [5]:
files=[file for file in os.listdir(r'C:\Users\SAIKAT MUKHERJEE\OneDrive\Desktop\PythonAll\DataScience\data\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data')]

In [6]:
files

['all_months_data.csv',
 'Sales_April_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_February_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'Sales_March_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_September_2019.csv']

In [7]:
all_months_data=pd.DataFrame()  #Blank dataframe
for file in files:
    df=pd.read_csv(r'C:\Users\SAIKAT MUKHERJEE\OneDrive\Desktop\PythonAll\DataScience\data\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data\/'+file)
    all_months_data=pd.concat([all_months_data,df])
all_months_data   # all merged data from different csv files

all_months_data.to_csv(r'C:\Users\SAIKAT MUKHERJEE\OneDrive\Desktop\PythonAll\DataScience\data\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data\all_months_data.csv',index=False)

In [8]:
df_new=pd.read_csv(r'C:\Users\SAIKAT MUKHERJEE\OneDrive\Desktop\PythonAll\DataScience\data\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data\all_months_data.csv')
df_new

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
934245,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
934246,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
934247,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
934248,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
934249,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [9]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934250 entries, 0 to 934249
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          931525 non-null  object
 1   Product           931525 non-null  object
 2   Quantity Ordered  931525 non-null  object
 3   Price Each        931525 non-null  object
 4   Order Date        931525 non-null  object
 5   Purchase Address  931525 non-null  object
dtypes: object(6)
memory usage: 21.4+ MB

# Clean up data

In [10]:
df_new.isna().any(axis=1)

0         False
1          True
2         False
3         False
4         False
          ...
934245    False
934246    False
934247    False
934248    False
934249    False
Length: 934250, dtype: bool

In [11]:
df_new[df_new.isna().any(axis=1)]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
932576,NaN,NaN,NaN,NaN,NaN,NaN
932838,NaN,NaN,NaN,NaN,NaN,NaN
933442,NaN,NaN,NaN,NaN,NaN,NaN
933948,NaN,NaN,NaN,NaN,NaN,NaN
934226,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
nan_df=df_new[df_new.isna().any(axis=1)]
nan_df.head()

     Order ID Product Quantity Ordered Price Each Order Date Purchase Address
1         NaN     NaN              NaN        NaN        NaN              NaN
356       NaN     NaN              NaN        NaN        NaN              NaN
735       NaN     NaN              NaN        NaN        NaN              NaN
1433      NaN     NaN              NaN        NaN        NaN              NaN
1553      NaN     NaN              NaN        NaN        NaN              NaN

In [13]:
df_new.dropna(how='all',inplace=True)

In [14]:
nan_df.head()

     Order ID Product Quantity Ordered Price Each Order Date Purchase Address
1         NaN     NaN              NaN        NaN        NaN              NaN
356       NaN     NaN              NaN        NaN        NaN              NaN
735       NaN     NaN              NaN        NaN        NaN              NaN
1433      NaN     NaN              NaN        NaN        NaN              NaN
1553      NaN     NaN              NaN        NaN        NaN              NaN

In [15]:
#https://www.youtube.com/watch?v=eMOA1pPVUc4

In [16]:
temp_df= df_new[df_new['Order Date'].str[0:2]=='Or']
temp_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
932564,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
932951,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
933963,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
934032,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
934138,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [17]:
#Remove 'Or'

df_new = df_new[df_new['Order Date'].str[0:2]!='Or']

In [18]:
new_temp_df=df_new[df_new['Order Date'].str[0:2]=='Or']
new_temp_df

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []

In [19]:
df_new.loc['Month'] = df_new['Order Date'].str[0:2]
df_new.loc['Month'] = df_new['Month'].astype('int32')
df_new.head()

c:\users\saikat mukherjee\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

KeyError: 'Month'

# DROP NAN rows